<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{page.title}}</title>
<link rel="stylesheet" href="https://classless.de/classless.css">
<style type="text/css">
	
html[data-theme='pure']{
	--navpos: absolute;
	--width: 768px;
	--rem: 18px;
	--font-p: 1em/1.6 Helvetica,Arial,sans-serif;
	--font-h: 1em/1.6 Helvetica,Arial,sans-serif;
	--font-c: 86%/1.4 monospace;
	--ornament: "‹‹‹ ›››";
	--border: 1px solid var(--cmed);
	/* foreground   | background color */
	--cfg:   #777;    --cbg: #fff;
	--cdark: #777;    --clight: #f8f8ff;
	--cmed: #e6e6e6;
	--clink: #3b8bba;
	--cemph: #1f8dd6; --cemphbg: #1f8dd610;
}
table {
	display: table !important;
}

a.fake-button {
	font: var(--font-h);
	border-radius: 4px;
	border: 1.5px solid var(--cmed);
	padding: 0.4em 0.8em;
	color: var(--cfg);
	background-color: var(--clight);
	padding: 0.5em 1em; font-size: 85%; letter-spacing: 0.1em;
	text-decoration: none;
	font-weight: bold;
	margin: .5em;
	border: 1.5px solid var(--clink);
}
</style>

<!-- Favicons -->
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">