<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{page.title}}</title>
<link rel="stylesheet" href="/assets/classless.css" />
<link rel="stylesheet" href="/assets/custom.css" />

<!-- Generated via https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png?v=3">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png?v=3">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png?v=3">
<link rel="manifest" href="/img/site.webmanifest?v=3">
<link rel="mask-icon" href="/img/safari-pinned-tab.svg?v=3" color="#5bbad5">
<link rel="shortcut icon" href="/img/favicon.ico?v=3">
<meta name="apple-mobile-web-app-title" content="blr.today">
<meta name="application-name" content="blr.today">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-config" content="/img/browserconfig.xml?v=3">
<meta name="theme-color" content="#ffffff">

{% if page.noindex %}
<meta name="robots" content="noindex, nofollow" />
{% endif %}