<!doctype html>
<html lang="en">
    <head data-theme="pure">
        {% include head.html %}
    </head>
    <body id="top">
        <header>
            <nav class="noprint">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class=sticky><a href="/calendars/">Calendars</a></li>
                    <li class=sticky><a href="/about/">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article>
                <h1 style="margin-top: 0px">{{page.title}}</h1>
                {{content}}
            </article>
        </main>
        {% include footer.html %}
    </body>
</html>
