<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <header>
        <h1>{{page.title}}</h1>
        <nav>
            <a href="/">Home</a> /
            <a href="/about/">About</a> /
            <a href="/roadmap">Roadmap</a> /
            <!-- <a href="https://geojson.io/">Map</a> / -->
            <!-- <a href="/cinemas">Cinemas</a> / -->
            <a href="https://github.com/blr-today">Source</a> /
        </nav>
    </header>
    {{content}}
</body>
</html>