---
layout: default
title: blr.today
---
<div style="display: flex; align-items: flex-start; gap: 1rem;">
    <div style="margin-top:5px;text-align: left;flex: 1;">
        {{content | extract_element:'blockquote' | first | extract_element:'p' }}
    </div>
    <img height=100px src="/img/apple-touch-icon.png" alt="blr.today logo" />
</div>


{% assign eventCount = page.events | size %}

{%- assign pagePrefix = "/" | append: page.path | replace:".md", "/" -%}
{% if page.subscribe %}
<link rel="alternate" type="application/atom+xml" href="agenda.xml" />

<!-- <a class="fake-button" href="{{site.url}}{{pagePrefix}}agenda.xml"
    >Daily RSS</a
>
<a class="fake-button" href="mailto:add@rssby.email?body={{site.url}}{{pagePrefix}}agenda.xml&subject=please-subscribe"
    >Daily Email</a
> -->
<button id=atcb>Add To Calendar</button>
{% endif %}
{% if eventCount > 0 %}

{% endif %}
{% if eventCount > 0 %}
<div id="calendar"></div>
{% else %}
<p>There are no events to display.</p>
{% endif %}

<div class="extra-text">
  {{ content | remove_first_element:'blockquote' }}
</div>

{% include social.html links = page.links %}

{% if eventCount > 0 %}
<link rel="stylesheet" href="/assets/event-modal.css">
<script type="application/json" id="blr-image-cdn">{{ site.data.image_cdn | jsonify }}</script>
<script type="application/json" id="blr-tag-info">{{ site.data.tags | jsonify }}</script>
<script type="module">
    var tags = JSON.parse('{{page.tags}}')
    import { renderCalendar, subscribeButton } from "/assets/js/calendar-render.js";
    {%- assign locationTags = "" | split: "" %}
    {%- assign hoods = site.html_pages | where: "type", "neighbourhood" %}
    {%- for hood in hoods %}{% assign hoodTags = hood.tags | parse_json %}{% assign locationTags = locationTags | concat: hoodTags %}{% endfor %}
    var locationTags = {{ locationTags | jsonify }}
    var cal = renderCalendar("{{pagePrefix}}cal.ics", tags, {% if page.locationTagsOnly %}locationTags{% else %}null{% endif %}, locationTags);

    cal.updateSize();
    subscribeButton('atcb', "{{site.feed_url}}{{pagePrefix}}cal.ics", "{{page.title}} Calendar | BLR.TODAY")
</script>

<noscript>
<h3>{{eventCount}} Events</h3>
<ul>
    {% for e in page.events %} {% assign E =e.event_json | parse_json %}
    <li>
        <a href="{{E.url}}">{{E.name}}</a> | {{E.startDate | date: "%b %d"}}
        <script type="application/ld+json" data-url="{{e.url}}">{{e.event_json}}</script>
    </li>
    
    {% endfor %}
</ul>
</noscript>
{% endif %}

{% include sources.html tags=page.tags %}
{% assign page.eventCount = eventCount %}