---
layout: default
title: blr.today
---

{{content}}
<select id="cal-changer">
    <option value="listYear">Complete List</option>
    <option value="dayGridMonth">Month</option>
    <option value="dayGridWeek">Week</option>
    <option value="dayGrid">Day</option>
</select>

<link rel="alternate" type="application/atom+xml" href="https://blr.today{{page.url}}agenda.xml" />
<a class="fake-button" href="webcal://blr.today{{page.url}}cal.ics"
    >Subscribe</a
>
<a class="fake-button" href="https://blr.today{{page.url}}agenda.xml"
    >Daily RSS</a
>
<a class="fake-button" href="mailto:add@rssby.email?body=https://blr.today{{page.url}}agenda.xml&subject=please-subscribe"
    >Daily Email</a
>
<div id="calendar"></div>

<script type="module">
    import { renderCalendar } from "/assets/js/calendar-render.js";
    var cal = renderCalendar("{{page.url}}cal.ics");

    cal.updateSize();

    document.getElementById("cal-changer").onchange = function () {
        cal.changeView(this.value);
    };
</script>

<noscript>
<ul>
    {% for e in page.events %} {% assign E =e.event_json | parse_json %}
    <li>
        <a href="{{E.url}}">{{E.name}}</a> | {{E.startDate | date: "%b %d"}}
        <script type="application/ld+json">{{e.event_json}}</script>
    </li>
    
    {% endfor %}
</ul>
</noscript>
{% include sources.html tags=page.tags %}
