---
layout: default
title: blr.today
---

View: <select id=cal-changer>
	<option value=listYear>List</option>
	<option value=timeGridDay>Calendar</option>
	<option value=dayGridWeek>Week</option>
</select>

<a href="webcal://blr.today/cal/{{page.id|downcase}}.ics" class=button>Subscribe</a>
<div id=calendar></div>

<script type="module">
import { renderCalendar } from "/bundle.js";
var cal = renderCalendar("/cal/{{page.id|downcase}}.ics");
document.getElementById("cal-changer").onchange = function() {
	cal.changeView(this.value);
};
</script>